.Content {
    width: 80%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
}

.Header {
    color: #c798d2;
    height: fit-content;
}

.Header h1 {
    margin: 0.1rem;
}

.BreadshelfListContent {
    height: 70%;
}